h1{
    color: #8501ba;
}
h2{
    color:#8501ba
}
body{
    padding:20px;
    background-color:black;
    color: white;

}
form div{
    margin-bottom:15px;
}

label{
    display:block;
}

input, select {
border:2px solid #8501ba;
color: white;
padding: 10px;
background-color: black;

}
button{
    background-color: #8501ba;
    color: white;
    border:2px solid #8501ba;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: #8501ba;

}
#posts-list {
    margin-top: 30px;
}

.post-card {
    border: 1px solid #8501ba;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}